{{#if message}}
    <div class="obscure">
        <div class="error">
            <div class="exit">
                <i class="fas fa-times"></i>
            </div>
            <p>{{message}}</p>
        </div>
    </div>
    <script src="/scripts/error-view.js"></script>
{{/if}}