<div class="wrapper">
    {{> title title='The course of the fight'}}
    <section class="description">
        {{#each fightDescription}}
        <p>{{this}}</p>
        {{/each}}
    </section>
    {{> nav}}
</div>