<div class="wrapper">
    <div class="title-wrapper">
        <h1 class="title">Thank you for adding your warrior!</h1>
    </div>
    <div class="what-next">
        <p>Now you can go to the arena or hall of glory by clicking a proper button. We wish you a gripping game!</p>
        <a href="/arena">Arena</a>
        <a href="/hall-of-glory">Hall of Glory</a>
        <p>Or maybe you want to add the next warrior...?</p>
        <a href="/warriors">Add the next warrior!</a>
    </div>
    {{> nav}}
</div>