* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Light", sans-serif;
}

div.wrapper {
    height: 100vh;
    background-color: royalblue;
}

div.title-wrapper {
    height: 10vh;
    background-color: indianred;
}

h1.title {
    line-height: 10vh;
    text-align: center;
    text-transform: uppercase;
}

/*warriors/register.hbs*/

form {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

fieldset.new-warrior {
    width: 23vw;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}

label {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
button {
    text-transform: uppercase;
    cursor: pointer;
    margin: 5px;
}

div.obscure {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    opacity: 80%;
}

div.error {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 300px;
    transform: translate(-50%, -50%);
    background-color: orangered;
    line-height: 300px;
    text-align: center;
}

div.exit {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
    background-color: dimgrey;
    line-height: 25px;
    text-align: center;
    cursor: pointer;
}

/*warriors/thanks.hbs*/

div.what-next {
    margin-top: 20px;
    padding: 10px;
    background-color: darkslategray;
    text-align: center;
}

div.what-next p {
    padding: 5px;
    margin: 5px;
}

div.what-next a {
    border: 2px black solid;
    padding: 5px;
    background-color: lightgreen;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.3s;
}

div.what-next a:hover {
    opacity: 65%;
}

/*hallOfGlory/main.hbs*/

table.warriors {
    margin: 20px auto;
}

table.warriors th, table.warriors td {
    border: 2px black solid;
    padding: 5px;
    text-align: center;
}

table.warriors th{
    text-transform: uppercase;
    background-color: firebrick;
}

table.warriors td {
    background-color: seagreen;
}

/*partials/nav.hbs*/
div.nav {
    display: flex;
    width: 50vw;
    height: 80px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

div.nav>a {
    height: 50px;
    margin-top: 20px;
    border: 2px black solid;
    padding: 5px 10px;
    background-color: darkred;
    line-height: 40px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

div.nav>a:hover {
    opacity: 80%;
}
