* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "MedievalSharp", sans-serif;
}

div.wrapper {
    min-height: 100vh;
    background-image: url("/img/horse-gbfda171c5_1280.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*partials/title.hbs*/

div.title-wrapper {
    width: 60vw;
    margin: 0 auto;
}

h1.title {
    margin: 0 auto;
    line-height: 10vh;
    text-align: center;
    text-transform: uppercase;
}

/*warriors/register.hbs*/

form.add-warrior {
    width: 30vw;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
form.add-warrior p {
    margin-bottom: 5px;
    text-align: center;
    font-weight: bolder;
}

fieldset.new-warrior {
    width: 23vw;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}

fieldset.new-warrior label {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
fieldset.new-warrior+button {
    margin: 5px;
    border: black 2px solid;
    padding: 5px;
    background-color: darkred;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bolder;
    color: white;
}

/* partials/error-view.hbs*/
div.obscure {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    opacity: 80%;
}

div.error {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    background-color: firebrick;
    text-align: center;
}

dv.error p {
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
}

div.exit {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
    background-color: grey;
    line-height: 25px;
    text-align: center;
    cursor: pointer;
}

/*warriors/thanks.hbs*/

div.what-next {
    margin-top: 20px;
    padding: 10px;
    background-color: darkslategray;
    text-align: center;
}

div.what-next p {
    padding: 5px;
    margin: 5px;
}

div.what-next a {
    border: 2px black solid;
    padding: 5px;
    background-color: lightgreen;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.3s;
}

div.what-next a:hover {
    opacity: 65%;
}

/*hallOfGlory/main.hbs*/

table.warriors {
    margin: 20px auto;
}

table.warriors th, table.warriors td {
    border: 2px black solid;
    padding: 5px;
    text-align: center;
}

table.warriors th{
    text-transform: uppercase;
    background-color: darkred;
    color: white;
}

table.warriors td {
    background-color: seagreen;
}

/*partials/nav.hbs*/
nav.nav {
    display: flex;
    width: 50vw;
    height: 80px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

nav.nav>a {
    height: 50px;
    margin-top: 20px;
    border: 2px black solid;
    padding: 5px 10px;
    background-color: darkred;
    line-height: 40px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

nav.nav>a:hover {
    opacity: 80%;
}

/*arena/main.hbs*/

form.fight-form  {
    display: flex;
    justify-content: center;
    width: 30vw;
    margin: 20px auto;
    flex-wrap: wrap;
}

form.fight-form fieldset {
    border: none;
    margin: 10px auto;
}

form.fight-form button {
    margin: 5px;
    border: black 2px solid;
    padding: 5px;
    background-color: darkred;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bolder;
    color: white;
}

/*arena/fightResult.hbs*/

section.description {
    opacity: 50%;
    background-color: black;
}

section.description>p {
    text-align: center;
    color: white;
    padding: 5px 0;
}